---
title: "SoftLayer_Dns_Domain_Registration_Registrant_Verification_Status"
description: "SoftLayer_Dns_Domain_Registration_Registrant_Verification_Status models the state of the registrant. Here are the following status codes: 


*'''Admin Reviewing''': The registrant data has been submitted and being reviewed by compliance team.
*'''Pending''': The verification process has been inititated, and verification email will be sent.
*'''Suspended''': The registrant has failed verification and the domain has been suspended.
*'''Verified''': The registrant has been validated.
*'''Verifying''': The verification process has been initiated and is waiting for registrant response.
*'''Unverified''': The verification process has not been inititated.

"
date: "2018-02-12"
tags:
    - "datatype"
    - "sldn"
    - "Dns"
classes:
    - "SoftLayer_Dns_Domain_Registration_Registrant_Verification_Status"
type: "reference"
layout: "datatype"
mainService : "SoftLayer_Dns_Domain_Registration_Registrant_Verification_Status"
---
