<div id="properties" class="content service-content">

<div class="view-filters">
    <div class="clearfix">
        <div class="search-input-box">
            <input placeholder="Datatype Filter" onkeyup="titleSearch(inputId='prop-input', divId='properties', elementClass='prop-row')" 
                type="text" id="prop-input" value="" size="30" maxlength="128" class="form-text">
        </div>
    </div>
</div>
    <div id="properties" class="content">

        {{ $service := .name }}
        
        <div id="localProperties" class="prop-content" >
            <h2 id="local">Local</h2> 
            {{ range $property := .properties}}
                {{ if eq $property.form "local"}}
                    {{ partial "datatype_property_bit.html" $property}}
                {{ end }}
            {{ end }}
        </div>
        <div id="relationalProperties" class="prop-content" >
            <h2 id="relational">Relational</h2> 
            {{ range $property := .properties}}
                {{ if eq $property.form "relational"}}
                    {{ partial "datatype_property_bit.html" $property}}
                {{ end }}
            {{ end }}


            <h2 id="count">Count</h2> 
            {{ range $property := .properties}}
                {{ if eq $property.form "count"}}
                    {{ partial "datatype_property_bit.html" $property}}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>