<div class="col-md-6">
    <div class="well well-sm footer" style="word-wrap: break-word;"> <!-- Post-specific stats -->
        <strong>Feedback? <span class="fas fa-comment"/></strong>
            <p>
                If this article contains any error, or leaves any of your questions unanswered, please help us out by 
                opening up a github issue.<br>
                <a class="" href="https://github.com/softlayer/githubio_source/issues/new?title=Feedback%20for%20{{.Section}}%20-%20{{.Title}}&body=Feedback+regarding%3A%20{{ .Permalink }}"> Open an issue</a>
                <i class="fab fa-github" alt="github"></i>
                <span> - </span>
                <a class="" href="https://github.com/softlayer/githubio_source/edit/master/content/{{.Section}}/{{.File}}" style="text-align: right;"> Quick Edit</a>
                <i class="fab fa-github" alt="github"></i>

            </p>
    </div>
</div>
