    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/highlight/solarized_dark.css" rel="stylesheet">

    <script src="/js/highlight.pack.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
            

    <script src="/js/jquery-3.3.1.min.js"></script> 
    <script src="/js/sldn.js"></script>
