    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/monokai.css" rel="stylesheet">
    <link href="/css/highlight/solarized_dark.css" rel="stylesheet">
    

    <script src="/js/highlight.pack.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
            

    <script src="/js/jquery-3.3.1.min.js"></script> 
    <script src="/js/sldn.js"></script>

<!-- FONTS AWESOME: https://fontawesome.com/icons  -->
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="/fontawesome/css/brands.min.css" rel="stylesheet" type="text/css">
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet" type="text/css">
    
    <script defer src="/fontawesome/js/solid.min.js"></script>
    <script defer src="/fontawesome/js/brands.min.js"></script>
    <script defer src="/fontawesome/js/fontawesome.min.js"></script>

    <script>
        var head = document.getElementsByTagName('head')[0]
        var style = document.createElement('link')
        style.type = 'text/css'
        style.rel = 'stylesheet'
        style.id = "dark-theme"
        if (localStorage.getItem("dark-mode-theme") == "dark") {
            style.href = '/css/dark.css'
        } else {
            style.href = '/css/light.css'
        }
        head.append(style)
    </script>
