<!doctype html>
<html lang="en">
<head>
    {{ partial "meta.html" . }}

    <title>{{ .Title }} - {{ .Site.BaseURL }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "header.includes.html" . }}
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
	<script>
		$(document).ready(function() {
			$('table').addClass("table table-hover table-striped")
            setThemeMode(localStorage.getItem("dark-mode-theme") || "dark");
		})
	</script>
    {{ template "_internal/google_analytics.html" . }}
</head>
