
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4>Open Source SDKs</h4>
    </div>
    <div class="panel-body">
        <a href="https://github.com/softlayer/softlayer-python"><i class="fab fa-python"></i> softlayer-python<br></a>
        <a href="https://github.com/softlayer/softlayer-java"><i class="fab fa-java"></i> softlayer-java<br></a>
        <a href="https://github.com/softlayer/softlayer-go"><i class="fas fa-code"></i> softlayer-go<br></a>
        <a href="https://github.com/softlayer/softlayer-api-perl-client"><i class="fas fa-code"></i> softlayer-perl<br></a>
        <a href="https://github.com/softlayer/softlayer-api-php-client"><i class="fab fa-php"></i> softlayer-php<br></a>
        <a href="https://github.com/softlayer/softlayer-ruby"><i class="fas fa-gem"></i> softlayer-ruby<br></a>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" style="padding: 2px 15px;">
    <h4> <i class="fas fa-laptop-code"></i> SL CLI </h4>   
  </div>
  <div class="panel-body">
      <a href="https://pypi.org/project/SoftLayer/"><i class="fas fa-laptop-code" alt="laptop-code"></i> Installation </a><br>
      <a href="https://softlayer-python.readthedocs.io/en/latest/"><i class="fas fa-book" alt="book"></i> Documentation</a><br>
      <a href="https://github.com/softlayer/softlayer-python/issues/new?labels=New+Feature&template=feature_request.md&title=Feature+Request:">
        <i class="fas fa-plus-square" alt="github"></i> Feature Request</a><br>
      <a href="https://github.com/softlayer/softlayer-python/issues/new?labels=Bug&template=bug_report.md&title=BUG: <command>">
        <i class="fas fa-bug" alt="github"></i> Bug Report</a><br>
  </div>
</div>
