    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="nav-container">
            <div class="navbar-header" style="width: 150px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .Site.BaseURL}}">{{ .Site.Title }}</a>
            </div>

            <div class="navbar-header" style="width: calc(100% - 400px)">
                <ul class="nav navbar-nav" style="width: 100%">
                    {{ range .Site.Menus.main }}
                        <li><a href="{{.URL}}">{{ .Name }}</a></li>
                    {{ end }}
                    <li class="nav-item">
                        <a id="dark-toggle" class="dark-mode-toggle" aria-label="dark-mode-toggle" style="color: var(--Red); font-size: 20px">
                            <i class="fas fa-sun"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="custom-search-input" class="pull-right" style="width: 250px">
              <form class="navbar-form" role="search" method="get" action="https://www.bing.com/search">
                <div class="input-group col-md-12">
                  <input type="text" class="form-control input-md" placeholder="Search" name="q" id="srch-term">
                  <input type="hidden" name="q1" value="site:sldn.softlayer.com" />
                  <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

        </div>
    </nav>

<script type="text/javascript">
const darkIconClass = 'fas fa-moon'
const lightIconClass = 'fas fa-sun'
var darkCSS = $("#dark-theme");
var darkToggleIcon = $("#dark-toggle i");

// Set theme with the given mode and toggle the theme icon button
// The button won't actually change for some reason on page load, will
// change when its pressed though.
function setThemeMode(mode) {
    localStorage.setItem("dark-mode-theme", mode);
    if (mode === "dark") {
        darkToggleIcon.attr('class', darkIconClass)
    } else  {
        darkToggleIcon.attr('class', lightIconClass)
    }
}

// Toggle dark mode when user click on the icon button
$("#dark-toggle").click(function () {
  if (darkToggleIcon.attr("class") == lightIconClass) {
    setThemeMode("dark")
  } else if (darkToggleIcon.attr("class") == darkIconClass) {
    setThemeMode("light")
  }
  location.reload();
});
</script>