
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4>Quick Links</h4>
    </div>
    <div class="panel-body">

        <a href="/article/object-filters/"><i class="fa fa-bookmark"></i> Object Filters</a></br>
        <a href="/article/object-masks/"><i class="fa fa-bookmark"></i> Object Masks</a></br>
        <a href="/reference/services/SoftLayer_Account/"><i class="fa fa-server"></i> Account</a></br>
        <a href="/reference/datatypes/SoftLayer_Account/"><i class="fa fa-database"></i> Account</a></br>
        <a href="/reference/services/SoftLayer_Virtual_Guest/"><i class="fa fa-server"></i> Virtual_Guest</a></br>
        <a href="/reference/datatypes/SoftLayer_Virtual_Guest/"><i class="fa fa-database"></i> Virtual_Guest</a></br>
        <a href="/reference/services/SoftLayer_Hardware_Server/"><i class="fa fa-server"></i> Hardware_Server<br></a>
        <a href="/reference/datatypes/SoftLayer_Hardware_Server/"><i class="fa fa-database"></i> Hardware_Server<br></a>
    </div>
</div>
