
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4>Quick Links</h4>
    </div>
    <div class="panel-body">

        <a href="/article/object-filters/"><i class="fas fa-bookmark"></i> Object Filters</a></br>
        <a href="/article/object-masks/"><i class="fas fa-bookmark"></i> Object Masks</a></br>
        <a href="/article/apiTraining/"><i class="fab fa-youtube"></i> API Tutorial</a></br>
        <a href="https://pypi.org/project/SoftLayer/"><i class="fas fa-laptop-code"></i> SL CLI</a></br>
        <a href="https://github.com/IBM-Cloud/ibm-cloud-cli-release/releases/"><i class="fas fa-laptop-code"></i> IBM Cloud CLI</a></br>
    </div>
</div>
