{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
		<h1>Release Note</h1>
        <div class="col-md-9">
			<div class="well well-sm release-note">
				<h3>{{ .Date.Format "January 2, 2006" }}</h3>
				<div class="container">
					<div class="row">
						<div class="col-md-8">
				{{ .Content }}
						</div>
					</div>
				</div>
            </div>
        </div>
		<!--Side bar -->
		<div class="col-md-3">
			{{ partial "menu.html" . }}
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
