{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
{{ $paginator := .Paginate (where .Data.Pages "Section" "release_notes") }}


    <div class="container">
    <div class="row">
        <h1>Release Notes</h1>
		<div class="col-md-9">
			{{ range $paginator.Pages }}
				{{ .Render "front-summary" }}
			{{ end }}
		</div>

		<!-- Sidebar -->
        <div class="col-md-3">
            {{ partial "quick-link.html" . }}
        </div>
		<div class="col-md-3">
			{{ partial "menu.html" . }}
		</div>

    </div>
	<div class="row">

		<div class="col-md-9 center-block">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>
	{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
